@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('Montserrat-Regular.eot');
    src: local('Montserrat-Regular'), local('Montserrat-Regular'),
        url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff'),
        url('Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('Montserrat-Medium.eot');
    src: local('Montserrat-Medium'), local('Montserrat-Medium'),
        url('Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Medium.woff2') format('woff2'),
        url('Montserrat-Medium.woff') format('woff'),
        url('Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('Montserrat-SemiBold.eot');
    src: local('Montserrat-SemiBold'), local('Montserrat-SemiBold'),
        url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-SemiBold.woff2') format('woff2'),
        url('Montserrat-SemiBold.woff') format('woff'),
        url('Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('Montserrat-ExtraBold.eot');
    src: local('Montserrat-ExtraBold'), local('Montserrat-ExtraBold'),
        url('Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-ExtraBold.woff2') format('woff2'),
        url('Montserrat-ExtraBold.woff') format('woff'),
        url('Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'IBMPlexSans', sans-serif;
    src: url('IBMPlexSans-Regular.eot');
    src: local('IBMPlexSans-Regular'), local('IBMPlexSans-Regular'),
        url('IBMPlexSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('IBMPlexSans-Regular.woff2') format('woff2'),
        url('IBMPlexSans-Regular.woff') format('woff'),
        url('IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'IBMPlexSans', sans-serif;
    src: url('IBMPlexSans-Medium.eot');
    src: local('IBMPlexSans-Medium'), local('IBMPlexSans-Medium'),
        url('IBMPlexSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('IBMPlexSans-Medium.woff2') format('woff2'),
        url('IBMPlexSans-Medium.woff') format('woff'),
        url('IBMPlexSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'IBMPlexSans', sans-serif;
    src: url('IBMPlexSans-SemiBold.eot');
    src: local('Montserrat-SemiBold'), local('IBMPlexSans-SemiBold'),
        url('IBMPlexSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('IBMPlexSans-SemiBold.woff2') format('woff2'),
        url('IBMPlexSans-SemiBold.woff') format('woff'),
        url('IBMPlexSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}